.breedingImage {
    display: flex;
}

.breedingImage > div {
    margin : 10px;
    width : 400px;
}

.breedingImage > div img {
    position: absolute;
}
/* .breedingImage > div img:first-child {
    -webkit-filter:opacity(0.5) drop-shadow(0 0 0 red);
    filter: opacity(0.5) drop-shadow(0 0 0 red);
} */