.profile-container {
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 5% 20%;
}

.profile-content {
    background-color: #f2e8df;
    border-radius: 20px;
    box-shadow:0 26px 20px -18px rgb(221 208 197), 0px 9px 16px 0px rgb(200 189 180);
    padding : 50px 100px;
}

.profile-list-groups{
    padding: 10px 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: white;
    border: 1px solid #f2b591;
    border-radius: 10px;
    margin-bottom: 30px;
}

.profile-label{
    margin: 0 auto;
    display: block;
    width: 95%;
    height: 40px;
    font-size: 24px;
}


.profile-btn{
    margin: 10px auto;
    display: block;
    width: 120px;
    height: 40px;
    background-color: #f2b591;
    font-size: 22px;
    border-radius: 10px;
    font-family: 'CookieRun-Regular';
    border: 1px solid #f2b591;
    color: white;
}


table>tr>th{
    width: 75%;
    text-align: center;
}
